<configuration>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/home/jason/Downloads/DebugTest.log</file>
        <append>false</append> <!-- Overwrite on each test run -->
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}] [%10.10thread] %-5level %36.36logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>